openai
faiss-cpu
numpy
python-dotenv
rank-bm25
fastapi
uvicorn
gunicorn
pydantic
underthesea
sqlalchemy
pymysql
passlib
bcrypt==3.2.2
python-jose[cryptography]
requests
beautifulsoup4
ddgs
sentence-transformers
tqdm
pyotp
qrcode